<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="/css/style.css">

</head>

<body>

   {{>header}}

    <p></p>
    {{errorMessage}}

    {{>footer}}


</body>
</html>